.home_wrapper {
  display: flex;
  flex-direction: column;
  width: min(100%,1140px);
  height: 100vh;
  margin: 0 auto;
}

.home_container {
  width: min(100%,760px);
  padding: 36px;
  margin: 0 auto;
}

.home_header_name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2rem;
}

.home_header_intro_title {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 10px;
}

.home_header_description {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home_header_description > p {
  margin-bottom: 5px;
}

.home_header_overview {
  line-height: 1.5;
  margin-bottom: 15px;
}

.home_header_buttons > button:not(:last-child) {
  margin-right: 16px;
}

/* medium style tablets */
@media screen and (max-width: 760px) {
  .home_wrapper {
    width: 100%;
  }
  
  .home_container {
    width: calc(100% - 48px);
    padding: 24px;
  }
}

/* mobile style */
@media screen and (max-width: 479px) {
  .home_wrapper {
    width: 100%;
  }
  
  .home_container {
    width: calc(100% - 32px);
    padding: 16px;
  }
}