.home_wrapper {
  width: min(100%,1140px);
  height: min(100vh,1024px);
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 18px;
}

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 18px 0;
}

.home_header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.home_header_intro_title {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 10px;
}

.home_header_description {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home_header_description > p {
  margin-bottom: 5px;
}

.home_header_overview {
  margin-bottom: 15px;
}

.home_header_buttons > button:not(:last-child) {
  margin-right: 16px;
}

.section_margin {
  padding: 20px 0;
}

/* medium style tablets */
@media screen and (max-width: 760px) { 
  .home_header {
    width: 100%;
  }

  .home_container {
    width: calc(100% - 48px);
    padding: 24px;
  }
}

/* mobile style */
@media screen and (max-width: 479px) {
  .home_header {
    width: 100%;
  }
  
  .home_container {
    width: calc(100% - 32px);
    padding: 16px;
  }
}