.header {
  position: sticky;
  top: 0;
  z-index: 100;
  min-height: 35px;
  display: flex;
  background-color: black;
  color: white;
  padding: 10px 0px;
}

.header__container {
  display: flex;
  width: 100%;
  margin: 0 10px;
}

.header__burgerMenu {
  display: flex;
  margin-left: auto;
}

.header__sidebar {
  position: absolute;
  right: 0;
  background-color: red;
  color: white;
  padding: 10px 20px;
  min-width: 100px;
}

.header__sidebarClose {
  display: flex;
  margin-left: auto;
}

.header__sidebarClose > i {
  cursor: pointer;
}

.header__sidebarOption > a {
  text-decoration: none;
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}

.header__menu {
  display: flex;
  margin-left: auto;
}

.header__option {
  display: flex;
  justify-content: center;
}

.header__option > a {
  display: flex;
  padding: 0 12px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  align-items: center;
}

.hidden {
  visibility: hidden;
  margin: 0 !important;
  width: 0 !important;
}