.header_wrapper {
  padding: 10px 0;
  border-bottom: solid 1px rgb(11,11,11);
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: rgb(255,255,255);
}

.header_name {
  text-transform: uppercase;
  font-size: 2rem;
}

.header_links {
  display: flex;
  justify-content: space-around;
}

.header_links > :not(:last-child) {
  margin-right: 5px;
}